<footer>
  <div class="footer-container">
    <div class="logo-and-socials">
      <a routerLink="/home">
        <img class="footer-logo" src="assets/img/logos/fudgelate-logo.jpg" alt="Logo">
      </a>
      <div class="newsletter">
        <input type="email" placeholder="Sign up for our newsletter">
        <button type="submit">Subscribe</button>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100011400432404"><mat-icon>facebook</mat-icon></a>
        <a href="https://instagram.com/fudge.late?igshid=MmVlMjlkMTBhMg=="><mat-icon
            class="instagram-icon">face</mat-icon></a>
      </div>
    </div>

    <div class="tel">
      <p> +55 (11) 9400-10815</p>
    </div>


    <div class="footer-links">
      <a routerLink="Politica">Política de Privacidade</a>
      <a routerLink="Termos">Termo de Serviços</a>
    </div>

    <div class="credit-card-icons">

    </div>

    <div class="security-img">
      <img src="/assets/img/footer-img/site_seguro.png" alt="Secure Buy">
    </div>

    <div class="footer-copyright">
      <p>Copyright © 2023 Fudgelate. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>