.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: transparent;
  transition: top 0.3s, background-color 0.3s;
  margin-top: 30px;
}

.mat-toolbar.navbar-transparent {
  background-color: transparent;
}

.mat-toolbar.navbar-opaque {
  background-color: #FFE0B2;  /* replace with your desired color */
}

.mat-toolbar.navbar-hidden {
  top: -30px; /* Adjust this value to match the height of your navbar */
}

@media screen and (max-width: 600px) {
  .menu-items {
    display: none;
  }

  .mat-toolbar {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 70px;
    background-color: transparent;

  }



}
