<h1>Contato</h1>
<p><mat-icon>phone</mat-icon> + 55 (11) 99999-9999 - (Whatsapp) </p>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" placeholder="Seu nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Seu email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="phone" placeholder="Seu telefone">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Messagem</mat-label>
    <textarea matInput formControlName="messagem" placeholder="Sua messagem"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Enviar</button>
</form>

<app-footer></app-footer>

