form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 35px;

}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: -140px;

}

p {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.image1 {
  width: 100%;
  transform: scale(0.5, 0.5);
  margin-top: -150px;
  align-items: center;
  justify-content: center;
  display: flex;

}



